{{ ansible_managed | comment }}

http:
  pprof:
    port: 6060
    enabled: false
  address: {{ adguard_http_listen_addr | default(hostvars[inventory_hostname]['ansible_default_ipv4']['address']) }}:{{ adguard_http_listen_port }}
  session_ttl: 720h
users:
  {% for user in adguard_users %}
  - name: {{ user.name }}
    password: {{ user.password | password_hash('bcrypt', hashtype="blowfish") }}
  {% endfor %}
auth_attempts: 5
block_auth_min: 15
http_proxy: ""
language: ""
theme: auto
dns:
  bind_hosts:
    {{ adguard_dns_bind_hosts | to_nice_yaml(indent=2) | indent(4) }}
  port: {{ adguard_dns_port }}
  anonymize_client_ip: false
  ratelimit: 0
  ratelimit_subnet_len_ipv4: 23
  ratelimit_subnet_len_ipv6: 56
  ratelimit_whitelist: []
  refuse_any: true
  upstream_dns:
    {% for local_upstream in adguard_dns_local_upstream_dns %}
    - {{ "'[/" + local_upstream.address + "/]'" }}{{ local_upstream.target + "'" }}
    {% endfor %}
    {% for upstream_server in adguard_dns_upstream_dns %}
    - '{{ upstream_server }}'
    {% endfor %}
  upstream_dns_file: ""
  bootstrap_dns:
    {{ adguard_dns_bootstrap_dns | to_nice_yaml(indent=2) | indent(4) }}
  fallback_dns:
    - {{ adguard_dns_fallback_dns | to_nice_yaml(indent=2) | indent(4) }}
  upstream_mode: parallel
  fastest_timeout: 1s
  allowed_clients: []
  disallowed_clients: []
  blocked_hosts:
    - version.bind
    - id.server
    - hostname.bind
  trusted_proxies:
    - 127.0.0.0/8
    - ::1/128
  cache_size: 134217728
  cache_ttl_min: 0
  cache_ttl_max: 0
  cache_optimistic: true
  bogus_nxdomain: []
  aaaa_disabled: true
  enable_dnssec: true
  edns_client_subnet:
    custom_ip: ""
    enabled: true
    use_custom: false
  max_goroutines: 300
  handle_ddr: true
  ipset: []
  ipset_file: ""
  bootstrap_prefer_ipv6: false
  upstream_timeout: 10s
  private_networks:
    - 10.0.0.0/8
    - 172.16.0.0/12
    - 192.168.0.0/16
  use_private_ptr_resolvers: {{ adguard_dns_use_private_ptr_resolvers}}
  local_ptr_upstreams:
    {{ adguard_dns_local_ptr_upstreams | to_nice_yaml(indent=2) | indent(4) }}
  use_dns64: false
  dns64_prefixes: []
  serve_http3: false
  use_http3_upstreams: false
  serve_plain_dns: true
  hostsfile_enabled: false
tls:
  enabled: false
  server_name: ""
  force_https: false
  port_https: 443
  port_dns_over_tls: 853
  port_dns_over_quic: 853
  port_dnscrypt: 0
  dnscrypt_config_file: ""
  allow_unencrypted_doh: false
  certificate_chain: ""
  private_key: ""
  certificate_path: ""
  private_key_path: ""
  strict_sni_check: false
querylog:
  dir_path: ""
  ignored: []
  interval: 2160h
  size_memory: 1000
  enabled: true
  file_enabled: true
statistics:
  dir_path: ""
  ignored: []
  interval: 2160h
  enabled: true
filters:
  - enabled: true
    url: https://adguardteam.github.io/HostlistsRegistry/assets/filter_1.txt
    name: AdGuard DNS filter
    id: 1
  - enabled: true
    url: https://adguardteam.github.io/HostlistsRegistry/assets/filter_2.txt
    name: AdAway Default Blocklist
    id: 2
  - enabled: true
    url: https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/adblock/fake.txt
    name: hagezi-fake
    id: 1722929957
  - enabled: true
    url: https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/adblock/tif.txt
    name: hagezi-threat-intel
    id: 1722929958
  - enabled: true
    url: https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/adblock/pro.txt
    name: hagezi-multi-pro
    id: 1722929959
  - enabled: true
    url: https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/adblock/native.winoffice.txt
    name: hagezi-native-ms
    id: 1722929960
  - enabled: true
    url: https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/adblock/native.apple.txt
    name: hagezi-native-apple
    id: 1722929961
  - enabled: true
    url: https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/adblock/native.amazon.txt
    name: hagezi-native-amazon
    id: 1722929962
  - enabled: true
    url: https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/adblock/native.lgwebos.txt
    name: hagezi-native-lg
    id: 1722929963
  - enabled: true
    url: https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/adblock/native.vivo.txt
    name: hagezi-vivio
    id: 1722929964
  - enabled: true
    url: https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/adblock/native.xiaomi.txt
    name: hagezi-native-xiamoi
    id: 1722929965
whitelist_filters: []
user_rules: []
dhcp:
  enabled: false
  interface_name: ""
  local_domain_name: lan
  dhcpv4:
    gateway_ip: ""
    subnet_mask: ""
    range_start: ""
    range_end: ""
    lease_duration: 86400
    icmp_timeout_msec: 1000
    options: []
  dhcpv6:
    range_start: ""
    lease_duration: 86400
    ra_slaac_only: false
    ra_allow_slaac: false
filtering:
  blocking_ipv4: ""
  blocking_ipv6: ""
  blocked_services:
    schedule:
      time_zone: Local
    ids:
      {{ adguard_filtering_blocked_services_ids | to_nice_yaml(indent=2) | indent(6) }}
  protection_disabled_until: null
  safe_search:
    enabled: false
    bing: true
    duckduckgo: true
    google: true
    pixabay: true
    yandex: true
    youtube: true
  blocking_mode: default
  parental_block_host: family-block.dns.adguard.com
  safebrowsing_block_host: standard-block.dns.adguard.com
  rewrites:
    {{ adguard_filtering_rewrites | to_nice_yaml(indent=2) | indent(4) }}
  safebrowsing_cache_size: 1048576
  safesearch_cache_size: 1048576
  parental_cache_size: 1048576
  cache_time: 30
  filters_update_interval: 24
  blocked_response_ttl: 10
  filtering_enabled: true
  parental_enabled: false
  safebrowsing_enabled: false
  protection_enabled: true
clients:
  runtime_sources:
    whois: true
    arp: true
    rdns: true
    dhcp: true
    hosts: true
  persistent: []
log:
  enabled: true
  file: ""
  max_backups: 0
  max_size: 100
  max_age: 3
  compress: false
  local_time: false
  verbose: false
os:
  group: {{ adguard_group }}
  user: {{ adguard_user }}
  rlimit_nofile: 0
schema_version: 28
