{{ ansible_managed | comment }}

[Unit]
Description=Traefik
Documentation=https://doc.traefik.io/traefik/
After=network-online.target
AssertFileIsExecutable={{ traefik_bin_path }}/traefik
AssertPathExists={{ traefik_config_dir }}/traefik.yml

[Service]
User={{ traefik_user }}
ExecStart={{ traefik_bin_path }}/traefik --configFile={{ traefik_config_dir }}/traefik.yml
Restart=always
WatchdogSec=1s

# lock down system access
# prohibit any operating system and configuration modification
ProtectSystem=strict
# create separate, new (and empty) /tmp and /var/tmp filesystems
PrivateTmp=true
# make /home directories inaccessible
ProtectHome=true
# turns off access to physical devices (/dev/...)
PrivateDevices=true
# make kernel settings (procfs and sysfs) read-only
ProtectKernelTunables=true
# make cgroups /sys/fs/cgroup read-only
ProtectControlGroups=true

# allow writing of acme.json
ReadWritePaths=/etc/traefik/acme.json

[Install]
WantedBy=multi-user.target